* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url('../public/highway3.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* text-align: center; */
}